
body, html {
  margin: 0px;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App h1 {
  margin: 0px;
  padding: 10px;
  font-size: 3em;
}

h4 {
  font-size: 2em;
  padding: 0px;
  margin: 0px;
}

.restaurant {
  display: flex;
}

.btn {
  width: 70px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 2px solid red;
  color: red;
  background-color: white;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 70%;
  height: 1000px;
  margin-left: 50px;
  justify-content: space-evenly;
  align-content: flex-start;
}

img {
  width: 200px;
}


.MenuCard {
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 350px;
  height: 250px;
  border: 1px solid white;
  border-radius: 5px;
}

.MenuCardDetails {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.OrderCart {
  margin-top: 20px;
  margin-left: 50px;
  width: 20%;
  height: 800px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;

}

.orderChosen {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.orderChosen span{
  width: 30%;
  text-align: center;
  padding: 5px;
}

.orderTotal {
  padding: 10px;
  margin-left: 20px;
  text-align: left;
  width: 100%;
}

.orderTotal span {
  padding: 10px;
  text-align: right;
  margin-right: 30%;
}



select {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 3px;
}

@media screen and (max-width: 768px) {
  .restaurant {
    display: flex;
    flex-direction: column-reverse;
  }

  .OrderCart {
    width: auto;
    height: auto;
  }

  .MenuCard {
    height: 150px;
    width: 200px;
  }

  .menu {
    width: auto;
    height: auto;
    margin: 10px;
  }

  .food {
    width: 80px;
    height: 80px;
  }
}